body {
  background-color: #e7e4e4;
  margin: 0;
}
h1,
p {
  text-align: center;
}
.menu-busqueda {
  background-color: #a79792;
  display: flex;
  height: 40px;
  margin-right: 10px;
  margin-top: 0px;
}
.menu-busqueda input {
  border-radius: 5px;
  border-color: none;
  border-radius: 20px;
  width: 100%;
}

.menu-busqueda a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.img-logo {
  border-radius: 100px;
  margin: 5px;
}

.form-register {
  background-color: #f2f1f1;
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 50px;
  border-radius: 5px;
}
.form-register input {
  font-size: 18px;
  margin: 5px;
  background: transparent;
  border: none;
  border-bottom: 2px solid;
}
.form-register div button {
  border-radius: 5px;
  width: 300px;
  border: none;
  font-size: 18px;
  height: 50px;
  width: 100%;
}
.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.button-activate {
  background-color: #a8d3c6;
}
.button-no-activate {
  background-color: none;
  color: #a8d3c6;
}
footer {
  background-color: #a79792;
  display: flex;
}
footer div a,
footer div h2,
footer div p {
  text-decoration: none;
  color: white;
  flex-direction: column;
  font-size: 10px;
  padding: 10px;
}
