.Articulo-datos-usuario {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.Articulo-user-img {
  border-radius: 100%;
}
.Articulo-img {
  max-width: 300px;
  max-height: 290px;
}
.Articulo-datos {
  justify-content: space-around;
  display: flex;
  padding: 20px;
}
.Articulo-datos img {
  height: 30px;
}
.contenedor {
  width: 350px;
  height: 290px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.Articulo-buttons button {
  border-radius: 5px;
  width: 300px;
  border: none;
  font-size: 18px;
  height: 50px;
  margin: 5px;
}

.Articulo-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.Articulo-button-activate {
  background-color: #a8d3c6;
}
.Articulo-button-no-activate {
  background-color: none;
  color: black;
}
