.Perfil-info {
  padding: 10px;
}

.Perfil-img {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}

.Perfil-valoraciones {
  margin: auto;
  text-align: center;
}

.Perfil-form {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Perfil-form input {
  font-size: 18px;
  margin: 5px;
  background: transparent;
  outline: none;
  height: 35px;
  border: none;
  width: auto;
  margin: 10px auto;
  text-align: center;
}

.Perfil-form input:hover {
  border-bottom: 2px solid;
}
.Perfil-label {
  padding: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Perfil-botones {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Perfil-botones button {
  width: 50%;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  height: 50px;
  margin: 20px;
  background-color: #f8d334;
  color: #000;
}
