.Perfil-botones {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.Perfil-botones button {
  background-color: none;
  color: #f8d334;
}

.perfil-img {
  margin: auto;
}

.perfil-label {
  margin: auto;
}
