body {
  background-color: #e7e4e4;
  margin: 0;
}

p {
  text-align: center;
}

.form-register {
  background-color: #f2f1f1;
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.form-register input {
  font-size: 18px;
  margin: 5px;
  background: transparent;
  outline: none;
  height: 35px;
  border: none;
  border-bottom: 2px solid;
}

.form-register div button {
  border-radius: 5px;
  width: 300px;
  border: none;
  font-size: 18px;
  height: 50px;
  width: 100%;
}

.Register-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.Register-button-activate {
  background-color: #a8d3c6;
}
.Register-button-no-activate {
  background-color: none;
  color: #a8d3c6;
}

.Register-error {
  text-align: center;
  color: red;
}
