.Chat-div {
  margin-bottom: 150px;
  font-family: sans-serif;
}
.Chat-h2 {
  margin-left: 10px;
}
.Chat {
  display: flex;
  background-color: aliceblue;
  border-radius: 5px;
  margin: 10px;
}

div.Chat-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-width: 50px;
  max-width: 100px;
}
.Chat-imagen-articulo {
  background-color: black;
  border-radius: 5px;
  height: 50px;
}
.Chat-info {
  padding: 10px;
}
.Chat-info p {
  text-align: left;
}

.Chat-p-usuario {
  color: gray;
}
