.Chats-div {
  margin-bottom: 150px;
  font-family: sans-serif;
}
.Chat-h2 {
  margin-left: 10px;
}
.Chat-cabecera {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid gray;
  align-items: center;
}
.Chat {
  display: flex;
  background-color: aliceblue;
  border-radius: 5px;
  margin: 10px;
}
.Chat-imagen-perfil {
  border-radius: 100px;
  width: 30px;
  background-color: black;
}
.Chat-img {
  display: flex;
  align-items: center;
  padding: 10px;
}
.Chat-imagen-articulo {
  background-color: black;
  border-radius: 5px;
  height: 50px;
}
.Chat-info {
  padding: 10px;
}
