.Perfil-img {
  display: flex;
}

.Perfil-foto-de-perfil {
  height: 100px;
  background-color: black;
  border-radius: 100px;
  text-align: center;
  margin: 20px auto;
}
.Perfil-valoraciones {
  margin: auto;
  text-align: center;
}

.Perfil-botones {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.Perfil-botones button {
  background-color: none;
  color: #f8d334;
}
