.Valoraciones-caja {
  display: flex;
  color: black;
  flex-direction: column;
  padding: 10px;
}

.Valoraciones-respuesta-comprador {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  padding: 10px;
  padding-bottom: 0px;
}

.Valoraciones-contenedor {
  display: flex;
  justify-content: center;
  margin: auto;
  /* padding: 10px; */
}

.Valoraciones-estrellas {
  display: flex;
}
.Valoraciones-texto {
  display: flex;
}

.Valoracion-texto h2,
.Valoracion-texto h3 {
  text-align: left;
  padding: 0;
  margin-left: 10px;
}

.Valoracion-texto-comentario {
  font-size: 15px;
}
.Valoracion-texto-comentario p {
  text-align: left;
  margin-left: 10px;
}
.Valoracion-texto-titulos {
  font-size: 15px;
  padding: 5px;
}
.Valoraciones-respuesta-vendedor {
  background-color: rgb(184, 184, 184);
}
.Valoraciones-respuesta-vendedor p {
  text-align: left;
  margin: 10px;
}
.Valoraciones-respuesta-vendedor h3 {
  text-align: left;
  margin: 10px;
  padding: 0;
}

.Valoraciones-img {
  max-width: 65px;
  max-height: 65px;
}

.Valoraciones-separador {
  padding-top: 30px;
}
