/* FOOTER */
.Footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.Footer-footer {
  display: none;
}

.Footer-menu nav {
  height: 100%;
  width: 100%;
}

/* MENU FOOTER */

.Footer-menu {
  background-color: #000000;
  height: auto;
}
.Footer-nav {
  font-size: 20px;
}
.Footer-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Nav-token {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
}
.Nav-token a,
.Nav-no-token a {
  text-decoration: none;
  color: #f7cd2d;
}
.Nav-token a:hover,
.Nav-no-token a:hover {
  /* background-color: #f7cd2d; */
  color: white;
}

.Nav-token a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}
.Nav-no-token a {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  align-content: center;
  font-size: 25px;
  padding: 10px;
}

.Nav-token a span {
  font-size: 10px;
}
.Nav-token img {
  border-radius: 100%;
  font-size: 30px;
  background-color: green;
}
.Nav-no-token {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: white;
}
.Nav-no-token span {
  text-decoration: none;
}

@media (min-width: 640px) {
  .Footer {
    position: relative;
  }
  .Footer-neg {
    font-weight: bold;
    padding: 20px;
  }
  .Footer-footer {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    margin-top: 100px;
  }
  .Footer-logo {
    width: 80px;
  }
  .Footer-menu {
    display: none;
  }
}
