.Footer {
  background-color: rgb(199, 199, 199);
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  margin-top: 100px;
}

.Footer-neg {
  font-weight: bold;
}
