* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgb(199, 199, 199);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: 30px;
}

.container2 {
  background-color: rgb(199, 199, 199);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: 30px;
}

img[alt="imgPerfil"] {
  border-radius: 50%;
  width: 40px;
}

img[alt="menu"] {
  width: 40px;
}

input {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
}

.lupa {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white;
  height: 20px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
