.navbar {
  background-color: #ededed;
  color: #000000;
  display: flex;
  height: 81px;
  align-items: center;
}
.menu-bars {
  margin-left: 2px;
  background-color: none;
}

.nav-menu {
  background-color: #000000;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: -100%;
  transition: 850ms;
  text-decoration: none;
}

.nav-menu.activate {
  left: 0px;
  transition: 350px;
}
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
}
.nav-text a {
  text-decoration: none;
  color: #f7cd2d;
}
.nav-text a:hover {
  background-color: #f7cd2d;
  color: #000000;
}
.nav-menu.items {
  width: 100%;
}
.nav-toggle a {
  color: #f7cd2d;
}
