.App {
  background-color: #ededed;
  font-family: sans-serif;
}

.App-links ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.App-img {
  background-image: url("./old-is-gold-horizontal.png");
  background-position: center;
  background-size: cover;
  background-color: #202020;
  height: 50px;
  padding: 20px;
}

.App-espacioFinal {
  height: 65px;
}
